window, window.dialog { background-color: #f0f2f5; color: #333333; }
label { font-size: 14px; color: #2c3e50; }
label.titulo-app { font-size: 26px; font-weight: bold; color: #2980b9; padding: 10px 0px; }
entry, textview text, spinbutton { background-color: #ffffff; color: #333333; border: 1px solid #ced4da; border-radius: 6px; padding: 8px; caret-color: #2980b9; }
entry:focus, textview text:focus, spinbutton:focus { border: 1px solid #3498db; box-shadow: 0 0 5px rgba(52, 152, 219, 0.4); }
combobox window.popup { background-color: #ffffff; border: 1px solid #ced4da; border-radius: 4px; }
radiobutton, checkbutton { padding: 5px; color: #2c3e50; }
radiobutton:checked, checkbutton:checked { color: #2980b9; font-weight: bold; }
button { background-color: #34495e; color: #ffffff; border-radius: 6px; padding: 8px 16px; border: none; font-weight: bold; box-shadow: 0 2px 4px rgba(0,0,0,0.15); }
button:hover { background-color: #2c3e50; box-shadow: 0 4px 8px rgba(0,0,0,0.2); }
button:active { background-color: #1a252f; }
button.boton-exito { background-color: #2ecc71; }
button.boton-exito:hover { background-color: #27ae60; }
button.boton-peligro { background-color: #e74c3c; }
button.boton-peligro:hover { background-color: #c0392b; }
frame { border: 1px solid #ced4da; border-radius: 6px; padding: 2px; }

/* TABLA GTK3 SUPER-ESPECÍFICA */
treeview.view, treeview { background-color: #ffffff; color: #2c3e50; }
treeview header button { background-color: #ecf0f1; color: #7f8c8d; font-weight: bold; border-bottom: 1px solid #bdc3c7; padding: 8px; }
treeview row:nth-child(even) { background-color: #f9fbfc; }
treeview row:hover { background-color: #ebedef; }
treeview:backdrop { background-color: #F6F6F6; color: #333333; }

/* Selección hiper-forzada para Adwaita */
treeview.view:selected, 
treeview row:selected, 
treeview row:selected cell { 
    background-color: #3498db; 
    color: #ffffff; 
}

treeview.view:selected:backdrop, 
treeview row:selected:backdrop, 
treeview row:selected:backdrop cell { 
    background-color: #bdc3c7; 
    color: #2c3e50; 
}
